html,
          body {
              font-family: 'Bungee';
              height: 92%;
              margin: 0;
              padding: 0;
              background-color: #272822;
          }

          @keyframes slideInFromBottom {
              0% {
                  transform: translateY(200%);
                  border: none;
              }
              100% {
                  transform: translateX(0);
                  border: none;
              }
          }

          h1 {
              margin-top: 30px;
              line-height: 90%;
          }

          h5 {
              font-size: 14px;
              color: #ebbc62;
              padding-bottom: 0;
              margin: 5px;
          }

          ul {
              list-style-type: none;
              padding: 2px;
          }

          li {
              font-family: 'Consolas';
              font-weight: bold;
              font-size: 12px;
              margin-top: 1px;
              margin-bottom: 5px;
              border-radius: 60px 0 0 60px;
              -webkit-border-radius: 60px 0 0 60px;
              -moz-border-radius: 60px 0 0 60px;
              background: #ffc565;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding: 0;
          }

          li:hover {
              opacity: 0.7;
          }

          a {
              margin-top: 50px;
              color: #7fc9eb;
          }

          #statusTxt {
              color: #c03e3e;
          }

          .container {
              height: 100%;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              align-content: center;
          }

          /*left pane with list and filter*/
          .options-box {
              background: #272822;
              margin-left: 20px;
              padding: 10px 10px 30px 10px;
              text-align: left;
              max-width: 415px;
              width: 32%;
              overflow: hidden;
              animation: 1s ease-out 0s 1 slideInFromBottom;
          }

          .main-title {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              height: 70px;
              font-size: 0.7em;
              padding-left: 30px;
              margin: 20px 0 10px 20px;
              text-align: center;
              vertical-align: middle;
              background: #e15a61;
          }

          #map {
              background: blue;
              height: 90%;
              width: 60%;
              max-height: 600px;
              border: 5px;
              border-radius: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
          }

          /*Month selector div*/
          #selector {
              height: 5%;
              line-height: 80%;
              width: 100%;
              background: #60a6cd;
              padding: 0;
              padding-top: 2%;
              padding-bottom: 2%;
              margin: 0;
              margin-bottom: 2%;
          }

          #selector-box {
              width: 40%;
              height: 25px;
              background: #474747;
              color: #FAFAFA;
              font-family: 'Consolas';
              font-weight: bold;
              margin: 0 1% 0 1%;
              height: 20px;
          }

          #selector-label {
              width: 40%;
              font-size: 12px;
              margin: 1% 1% 2% 1%;
          }

          /*make scrollbar invisible*/
          ::-webkit-scrollbar {
              display: none;
          }

          /*List of elements*/
          .scrollable {
              max-height: 80%;
              z-index: 10;
              overflow-y: scroll;
              -webkit-overflow-y: scroll;
              -webkit-overflow-scrolling: touch;
          }

          .index-num {
              text-align: center;
              margin-left: 30px;
              font-size: 2em;
              display: inline-block;
              background: #272822;
              color: #ffc565;
              height: 110%;
              padding-bottom: 8px;
              width: 1.3em;
          }

          .list-title {
              vertical-align: middle;
              padding-left: 10px;
              display: inline-block;
              text-align: left;
              width: 60%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
          }

          /*street view*/
          #pan {
              display: block;
              width: 300px;
              height: 200px;
          }

          #pano {
            width: 100%;
            height: 100%;
            margin: 0 0 auto;
          }

          .iw-title {
              font-family: 'Consolas';
              font-weight: bold;
              font-size: 18px;
              margin: 15px 0 0 0;
          }

          .iw-address {
              font-family: 'Consolas';
              margin: 0 0 10px 0;
          }

          /*Wiki link*/
          #wik {
              margin: 10px 0px 10px 0px;
              font-family: "Consolas";
              font-size: 18px;
              font-weight: bold;
          }

          /*inforWindow style*/
          /*main window*/
          .gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div {
              background: transparent !important;
              box-shadow: none !important;
              width: 320px !important;
              height: auto !important;
          }

          /*inside window div*/
          .gm-style-iw {
              width: 300px;
              text-align: left;
              background: #26617e;
              margin: 0 0 auto;
              padding: 0;
              padding-left: 10px;
              border-radius: 10px 0 0 0;
              -webkit-border-radius: 10px 0 0 0;
              -moz-border-radius: 10px 0 0 0;
              top: 22px !important;
              left: 22px !important;
          }

          /*bottom triangle*/
          .gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div {
              background: #26617e !important;
          }

          /*Closing X*/
          .gm-style > div:first-child > div + div + div + div > div + div + div + div > div:first-child > div + div + div {
              top: 25px !important;
              right: 7px !important;
          }

          /*media queries*/
          @media screen and (max-width: 272px) {
              h1 {
                  margin-top: 15px;
              }
          }

          @media screen and (max-width: 650px) {
              .container {
                  flex-direction: column;
                  flex-wrap: nowrap;
                  align-items: center;
                  height: auto;
              }
              .options-box {
                  margin-left: 10%;
                  margin-right: 10%;
                  width: 80%;
                  animation: none;
                  flex-direction: row;
              }
              #map {
                  width: 80%;
                  margin-top: 5%;
                  margin-left: 10%;
                  margin-right: 10%;
                  margin-bottom: 20px;
                  height: 300px;
              }
              #selector {
                  margin-bottom: 5%;
              }
              .scrollable {
                  max-height: 300px;
              }
          }

          @media screen and (min-width: 651px) and (max-width: 890px) {
              #selector-label {
                  margin-top: 15px;
              }
              #selector {
                  height: 8%;
              }
              #selector-box {
                  margin-top: 15px;
              }
          }

          @media screen and (device-width: 667px) and (orientation: landscape) {
              .options-box {
                  animation: none;
              }
              .main-title {
                  height: 50px;
                  line-height: 90%;
              }
              #selector-label {
                  margin-top: 0px;
              }
              #selector {
                  height: 8%;
              }
              #selector-box {
                  margin-top: 0px;
              }
          }

          @media screen and (device-width: 736px) and (orientation: landscape) {
              .options-box {
                  animation: none;
              }
              .main-title {
                  height: 50px;
                  line-height: 90%;
              }
              #selector-label {
                  margin-top: 0px;
              }
              #selector {
                  height: 8%;
              }
              #selector-box {
                  margin-top: 0px;
              }
          }

          @media screen and (device-width: 732px) and (orientation: landscape) {
              .options-box {
                  animation: none;
              }
              .main-title {
                  height: 50px;
                  line-height: 90%;
              }
              #selector-label {
                  margin-top: 0px;
              }
              #selector {
                  height: 8%;
              }
              #selector-box {
                  margin-top: 0px;
              }
          }